body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#form{
    margin-bottom: 15px;
}

#tarefa{
    border-radius: 5px;
    border: none;
}

#adicionar{
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    border-radius: 5px;
    border: none
}
#lista{
        color: white;
        align-items: center;  
        font-size: 24px;
        
}

:checked + label {
    text-decoration: line-through;
    color: #4286f4;
  }


